a {
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.card {
  min-height: 500px;
}

.card-body img {
  height: 60%;
}

.card-title {
  font-size: 20px;
}

.card-excerpt {
  font-size: 14px;
}